<section class="widget-content-blog">
  <app-widget-title-big [title]="article.title" [publish]="article.datePublish"></app-widget-title-big>
  <section class="content-post">
    <div>
      <span class="text-title-second">{{article.subTitle}}</span>
    </div>
    <p class="text-content-blog">{{article.description}}</p>
    <figure>
      <img width="100%" alt="Imagen User" class="img-kasius" src="http://tugimnasiacerebral.com/sites/default/files/que-es-un-mapa-conceptual-diagrama.jpg">
      <figcaption class="">Figura. 1 Mapa Conceptual ejemplo</figcaption>
    </figure>
  </section>
</section>