<section class="widget-content">
  <app-widget-title-big [title]="titleBlog.title" [publish]="titleBlog.publish"></app-widget-title-big>
  <ul>
    <li>
      <b>AngularJS en sus versiones 2 y 4</b>
    </li>
    <li>
      <b>Express</b>
    </li>
    <li>
      <b>Preprocesadores SASS, LESS, STYLUS</b>
    </li>
    <li>
      <b>JavaScript</b>
    </li>
    <li>
      <b>HTML y CSS</b>
    </li>
    <li>
      <b>Sequalize</b>
    </li>
    <li>
      <b>API REST FULL - Json</b>
    </li>
    <li>
      <b>IONIC</b>
    </li>
    <li>
      <b>Swift</b>
    </li>
    <li>
      <b>Android</b>
    </li>
  </ul>
</section>