<section class="work">
  <div class="triangle-icon"></div>
  <img class="icon-angular" src="../../assets/img/angular.png" alt="Angular">
  <a class="nav-link" routerLinkActive="active" [routerLink]="['/works/detail', work.id]">
    <img alt="Imagen User" class="img-work" [src]="work.url">
    <article class="work-footer">
      <span>{{work.title}}</span>
      <span class="text-title-small-13 txt-light-italic">{{work.period}}</span>
      <br>
      <span class="text-title-small-13">{{work.subtitle | slice :0:30 }}...</span>
    </article>
  </a>
</section>