<section class="widget-pages">
  <ul class="list-pages">
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Sobre mí</a>
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/works']">Trabajos</a>
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/blog']">Blog</a>
    </li>
    <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/technologies']">Conocimientos</a>
    </li>
    <!-- <li>
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/contact']">Contacto</a>
    </li> -->
  </ul>
</section>