<section class="widget-kasius">
  <figure>
    <img alt="Carlos Cifuentes" class="img-kasius" src="../../../assets/img/my.png">
    <h1 class="name-kasius text-title-second">Carlos Cifuentes</h1>
    <figcaption class="tip text-title-small-bold">{{kasius.profession}}</figcaption>
    <figcaption class="tip text-title-small-bold">{{kasius.specialty}}</figcaption>
    <figcaption class="tip text-title-small-bold">{{kasius.profile}}</figcaption>
    <figcaption class="tip text-title-small-bold">{{kasius.email}}</figcaption>
    <img src="../../assets/img/angular.png" width="30" alt="Angular">
  </figure>
</section>