<section class="widget-content">
  <app-widget-title-big [title]="my.title" [publish]="my.publish"></app-widget-title-big>
  <app-widget-comment class="mb-50" [comment]="my.comment"></app-widget-comment>
  <app-widget-title-second [title]="my.second" class="text-title-second"></app-widget-title-second>
  <app-widget-comment class="mt-10 mb-30" [comment]="my.commentMy"></app-widget-comment>
  <p>{{my.description}}</p>
  <img src="../../assets/img/angular.png" alt="Angular">
  <div class="destac">
    <span class="text-title-small-bold txt-light-italic">{{my.angular}}</span>
  </div>
</section>