@import '../../../assets/sass/palette.sass'
\:host  
  width: 100% 
  padding: 90px 180px 100px 90px 
.widget-content
  width: 100%
  img 
    float: left
  .destac
    height: 80px
    float: left
    margin-left: 10px
    span 
      line-height: 80px
@media only screen and (max-width: 800px)
  \:host  
    padding: 0 100px
    .widget-content
      width: 100%
      text-align: center